.main-page {
  &__title {
    font-weight: 300;
    text-align: center;
  }

  &__boards-list {
    list-style: none;
    text-align: center;
    padding: 0;
  
    li {
      margin: 0 10px;
      display: inline-block;
  
      a {
        cursor: pointer;
        text-decoration: none;
  
        &:visited {
          color: black;
        }
  
        &:hover {
          color: lighten(black, 50);
        }
      }
    }
  }
}
