.snackbar {
  position: fixed;
  top: 10px;
  left: 10px;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  opacity: 1;
  
  &--closed {
    position: fixed;
    top: 10px;
    left: 10px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    opacity: 0;
  }

  &__content {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;

    .message {
      font-size: 16px;
    }
  }
}