.post-container{

    .thread-title{
        font-weight: bold;
        display: inline-block;
        margin: 0;    
    }

    .metadata{
        font-weight: bold;
        color: black!important;
    }

    .meta-without-title{
        margin-left: 0!important;
    }

    .open-thread-link{
        margin-left: 5px;
    }

    .post-text-container{

        .post-text{
            margin: 0!important;

            &:first-child{
                margin-top: .25em!important;
            }

            &:last-child{
                margin-bottom: .5em!important;
            }
        }
    }
    
}