.create-thread-form-container{

    display: inline-block;

    .open-create-thread-form-button{
    }

    .create-thread-form-dialog{

    }
}

.create-thread-form-dialog-textfield{
    width: 100%!important;
    display: block!important;
}
.create-thread-form-dropzone{
    width: 100%;
    border: 2px dashed #ccc;
    border-radius: 5;
    text-align: center;
    padding: 40px 0;
    position: relative;

    .dropzone-content{
        
    }
}