.files-list-element{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    .files-list-element-content{
        padding: 0 10px 10px 0;

        img{
            border: 1px solid rgba(34,36,38,.15);
            max-width: 150px;
            max-height: 150px;
        }

        video{
            border: 1px solid rgba(34,36,38,.15);
            max-width: 200px;
            max-height: 240px;
        }
    }
}