@import '../../../imports/sizes.scss';

.threads-list-element{
    margin: 0 1% 1% 0;
    /* Mobile first queries */
    max-width: 98%;

    /* Larger than mobile */
    @media (min-width: $mobile) {
        max-width: 98%;
    }

    /* Larger than phablet */
    @media (min-width: $phablet) {
        max-width: 98%;
    }

    /* Larger than tablet */
    @media (min-width: $tablet) {
        max-width: 98%;
    }

    /* Larger than desktop */
    @media (min-width: $desktop) {
        max-width: 32%;
    }

    /* Larger than Desktop HD */
    @media (min-width: $desktop-hd) {
        max-width: 23.5%;
    }


    .thread-card-image{
        width: initial!important;
        height: initial!important;
        max-height: 400px;
    }
}