.threads-list-element{
    margin: 0 10px 10px 0;

    .thread-card-image{
        width: initial!important;
        height: initial!important;
        max-height: 600px;
        max-width: 600px;
    }
}