.threads-list-element{
    margin: 0 1% 1% 0;
    max-width: 32%;

    // @media (max-width: 1000px) {
    //     max-width: 98%;
    // }


    .thread-card-image{
        width: initial!important;
        height: initial!important;
        max-height: 400px;
    }
}