@import '../../imports/palette.scss';
@import './Post/Post.scss';
@import './AnswerInThreadForm/AnswerInThreadForm.scss';

.thread-container{

    .thread-controls{
        padding: 1% 1% 0 1%!important;
    }
    
    .posts-list{
        list-style: none;
        padding: 0 1%;
    }
}