.create-thread-form{
  text-align: center;
  padding: 0 15%;
  margin-bottom: 20px;

  &__container{
    padding: 20px;

    .header{
      font-weight: 300;
      margin-top: 0;
    }

    .post-text-input{
      margin-bottom: 20px;
    }
  }
}