.post-preview {
  &__content {
    margin-bottom: 5px;
    padding: 10px;
    display: inline-block;

    .post-info{
      margin: 0 0 5px 0;
      
      &__title{
        display: inline-block;
        font-weight: 500;
        margin-bottom: 0;
      }
      
      &__time {
        display: inline-block;
        margin: 0 10px 0 0;
      }
      
      &__id {
        display: inline-block;
        margin-bottom: 0;
      }
    }

    &__files{
      .file-preview{
        display: inline-block;
        margin: 0 5px 5px 0;
        vertical-align: middle;
        cursor: pointer;

        &__file{
          &--preview {
            max-height: 200px;
            max-width: 200px;
          }
        }
      }
    }

    &__text {
      margin: 0;
    }

    &__all-posts{
      margin: 5px 0 0 0;
      color: rgba(0, 0, 0, 0.50)
    }
  }

  &:first-child > .post-preview {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 0;
  }
}
