@import "../../../styles-imports/sizes-mixins.scss";

.answer-in-thread-form {
  @include phone {
    padding: 0;
  }

  @include tablet {
    padding: 0 15%;
  }

  padding: 0 30%;
  margin-bottom: 20px;
  background-color: rgba(75, 72, 72, 0.7);
  background-blend-mode: overlay;
  background-attachment: fixed;

  &__content {
    padding: 20px;
    .ui.checkbox input.hidden + label {
      color: white;
    }

    .header {
      font-weight: 300;
      margin-top: 0;
      text-align: center;
      color: #fff;
    }

    .post-text-input {
      margin-bottom: 20px !important;
    }

    .quill {
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 20px !important;

      .ql-toolbar {
        border-radius: 5px 5px 0 0;
      }

      .ql-container {
        border-radius: 0 0 5px 5px;

        .ql-blank {
          &::before {
            font-style: normal;
            color: rgba(150, 141, 141, 0.6);
          }
        }
      }
    }

    .dropzone {
      width: calc(100% - 4px);
      border: 2px dashed #000;
      border-color: #fff;
      border-radius: 5px;
      text-align: center;
      padding: 40px 0;
      position: relative;
      margin-bottom: 20px;
      cursor: pointer;

      &__content {
        user-select: none;

        .attach-icon {
          color: #fff;
        }

        .file-preview-container {
          display: inline-block;

          .file-preview {
            max-width: 100px;
            max-height: 100px;
          }
        }
      }
    }

    .submit-button-container {
      text-align: center;
    }
  }
}
