.answer-in-thread-form{
  padding: 0 15%;
  margin-bottom: 20px;

  &__container{
    padding: 20px;

    .header{
      font-weight: 300;
      margin-top: 0;
      text-align: center;
    }

    .post-text-input{
      margin-bottom: 20px;
    }

    .dropzone{
      width: calc(100% - 4px);
      border: 2px dashed #ccc;
      border-radius: 5;
      text-align: center;
      padding: 40px 0;
      position: relative;
      margin-bottom: 20px;
      cursor: pointer;

      &__content {
        user-select: none;

        .file-preview-container{
            display: inline-block;

            .file-preview{
                max-width: 100px;
                max-height: 100px;
            }
        }
      }
    }

    .submit-button-container{
      text-align: center;
    }
  }
}