.post-container {
  .post {
    margin-bottom: 5px;
    padding: 5px;
    display: inline-block;

    &__time {
      display: inline-block;
      margin: 0 10px 5px 0;
    }

    &__text {
      margin: 0;
    }
  }

  &:first-child > .post {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
}
