.post-container {
  .post {
    margin-bottom: 5px;
    padding: 10px;
    display: inline-block;

    &__title{
      display: inline-block;
      margin: 0 0 5px 0;
      font-weight: 500;
    }

    &__time {
      display: inline-block;
      margin: 0 10px 5px 0;
    }

    &__sage{
      display: inline-block;
      color: red;
      margin: 0 10px 5px 0;
    }
    
    &__index {
      display: inline-block;
      color: #303f9f;
      margin: 0 10px 5px 0;
    }

    &__id {
      display: inline-block;
      margin: 0 0 5px 0;
    }
    
    &__files{
      .file-preview{
        display: inline-block;
        margin: 0 5px 5px 0;
        vertical-align: middle;

        &__file{
          max-height: 200px;
          max-width: 200px;
        }
      }
    }

    &__text {
      margin: 0;
    }
  }

  &:first-child > .post {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 0;
  }
}
