@import '../../../imports/sizes.scss';

.thread-container{

    .thread-content{

        margin: 0 5% 20px;

        .post-form{
            padding-top: 20px;

            margin: 0 0 20px;

            @include tablet{
                margin: 0 10% 20px;
            }

            @include desktop{
                margin: 0 30% 20px;
            }

            .form-input{
                display: block!important;
                margin-bottom: 1em;
                input{
                    width: 100%;
                }
            }

            .form-submit-button{
                display: block!important;
                width: 100%;
            }
        }

        .error-message{
            position: fixed;
            width: 90%;
            bottom: 20px;
            
            @include tablet{
                width: 70%;
            }

            @include desktop{
                width: 40%;
            }
        }
    }
}