@import './components/MainPage/MainPage.scss';
@import './components/Thread/Thread.scss';

*{
    font-family: 'Roboto', sans-serif;

    html{
        background-color: #EEEEEE;
    }

    body{
        margin: 0;
    }
}