@import './components/MainPage/MainPage.scss';
@import './components/Thread/Thread.scss';

@import './imports/palette.scss';
    
html{
    background-color: $primary-color;
}

*{
    font-family: 'Roboto', sans-serif;

    body{
        margin: 0;
    }
}