@import './File/File.scss';

.posts-list-element{
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

    .post-container{
        padding: 1%;

        .post-title{
            display: inline-block;
            margin-top: 0;
        }

        .post-files-list{
            padding: 0;
        }

        .post-text-container{

            .post-text{
                margin: 0;
            }
        }
    }
}