@import '../../../imports/palette.scss';
@import './File/File.scss';

.posts-list-element{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    background-color: $primary-color-light;
    margin-bottom: .5%;

    +.main-post{
        box-shadow: none;
        background-color: $primary-color;
    }

    .post-container{
        padding: 1%;

        .post-title{
            display: inline-block;
            margin-top: 0;

            +.post-index{
                color: orangered;
            }

            +.post-open-thread-link{
                color: orangered;
                cursor: pointer;
                user-select: none;

                &:hover{
                    color: darken(orangered, 10%);
                }
            }
        }

        .post-files-list{
            padding: 0;
        }

        .post-text-container{

            .post-text{
                margin: 0;
            }
        }
    }
}