@import './ThreadPreview/ThreadPreview.scss';
@import './CreateThreadForm/CreateThreadForm.scss';

.main-page-container{

    .main-page-controls{
        padding: 1em 0 0 1%!important;

        .update-threads-button{
            display: inline-block;
        }
    }


    .threads-list{
        list-style: none;
        padding: 0 1em;
    }
}

@media (max-width: 1000px) {
    .main-page-container{
        button{
            font-size: 40px;
        }
    }
}