@import './ThreadCard/ThreadCard.scss';
@import './CreateThreadForm/CreateThreadForm.scss';

.main-container{
    .threads-list{
        list-style: none;
        margin-top: 3em;
        padding-left: 1em;
    }
}

@media (max-width: 1000px) {
    .main-container{
        button{
            font-size: 40px;
        }
    }
}